# flyctl launch added from .gitignore
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.test
**/*.out

**/*.coverprofile

**/_build

**/go.work

**/vendor

**/.idea
**/.vscode
**/*.swp
**/*.swo

**/*.log

**/.DS_Store
**/Thumbs.db

**/web/exec
**/web/node_modules
**/web/.next
fly.toml
