{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="https://unpkg.com/milligram@1.4.1/dist/milligram.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/chart.js"></script>
    {{ block "head" . }}{{ end }}
</head>

<body>
    <nav class="nav-header">
        <a href="#" class="brand">Beacon</a>
        <a href="/" class="home-link">Dashboard</a>
        <a href="/charts" class="home-link">Charts</a>
        <a href="/docs" class="home-link">Docs</a>
    </nav>
    <div class="container">
        {{ block "content" . }}{{ end }}
    </div>
    {{ block "scripts" . }}{{ end }}
</body>

</html>
{{ end }}