{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}
<h1 class="mt-5">Dashboard</h1>
<hr />
{{ template "device_selection" . }}
<table class="table mt-3">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Recorded At</th>
        </tr>
    </thead>
    <tbody id="metrics">
        <!-- Metrics will be loaded here -->
    </tbody>
</table>
<nav>
    <ul id="pagination" class="pagination"></ul>
</nav>
{{ end }}

{{ define "scripts" }}
<script src="/static/js/dashboard.js"></script>
{{ end }}